Repository d-kimuson/type-safe-prompt: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, cspell, backend-eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: |
        pnpm run:prettier --write {staged_files}
      staged_fixed: true
      skip:
        - merge
        - rebase

    cspell:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm cspell lint --no-must-find-files --gitignore --cache {staged_files}
      skip:
        - merge
        - rebase

    backend-eslint:
      glob: "*.{ts,tsx,mts,mcs,js,jsx,mjs,cjs}"
      staged_fixed: true
      run: |
        pnpm exec eslint --no-error-on-unmatched-pattern --cache --fix {staged_files}
      skip:
        - merge
        - rebase

prepare-commit-msg:
  parallel: true
  scripts:
    "commitizen.sh":
      interactive: true
      runner: sh

pre-push:
  parallel: true
  commands:
    packages-audit:
      run: pnpm audit

docs(readme): easy to read shell commands
  README.md
Due: prettier, cspell

docs(changelog): fix 0.0.1 changelog
  CHANGELOG.md
Due: prettier, cspell

chore(package.json): update engines
  package.json
Due: prettier, cspell

chore: release 0.0.1-next
  CHANGELOG.md
  package.json
Due: prettier, cspell

chore: release 0.0.2
  CHANGELOG.md
  package.json
Due: prettier, cspell

ci(syncpack): remove syncpack ci
  .github/workflows/syncpack.yaml
Due: prettier, cspell

ci(check.yaml): add typecheck and build check on ci
  .github/workflows/check.yaml
Due: prettier, cspell

fix: bug that pnpm requried when install from npm
  package.json
Due: prettier, cspell

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

chore: fix typo
  lefthook.yml
Due: prettier, cspell

chore: fix linters
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/type-utils.ts
  tsconfig.cli.json
Due: prettier, cspell, backend-eslint

chore: fix cspell error
  cspell.json
Due: prettier, cspell

chore: release 0.0.3
  CHANGELOG.md
  package.json
Due: prettier, cspell

feat: better type for non-English prompt with `string`
  src/index.test.ts
  src/index.ts
Due: prettier, cspell, backend-eslint

chore: claude init
  .cursor/worktrees.json
  CLAUDE.md
  cspell.json
Due: prettier, cspell

chore: remove eslint and syncpack and cspell
  .gitignore
  .vscode/settings.json
  cspell.json
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/update_cspell_words.mjs
  src/index.ts
  src/type-utils.ts
  tsconfig.cli.json
Due: prettier, cspell, backend-eslint

chore: simplify tsconfig
  tsconfig.app.json
  tsconfig.cli.json
  tsconfig.json
Due: prettier, cspell

chore: replace to biome
  .github/scripts/on-all-job-finished.cjs
  .prettierignore
  .prettierrc.mjs
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/index.test.ts
  src/index.ts
  src/type-utils.ts
  tsup.config.ts
Due: prettier, cspell, backend-eslint

chore: remove commitizen
  .lefthook/prepare-commit-msg/commitizen.sh
  lefthook.yml
  package.json
Due: prettier, cspell

ci: simplify ci
  .github/workflows/check.yaml
  package.json
Due: prettier, cspell

ci: remove un-used workflow
  .github/scripts/on-all-job-finished.cjs
  .github/workflows/on-all-job-finished.yaml
Due: prettier, cspell, backend-eslint

chore: update package.json
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

chore: fix format
  src/index.test.ts
  src/index.ts
Due: prettier, cspell, backend-eslint

chore: fix tsconfig path on tsup.config.ts
  tsup.config.ts
Due: prettier, cspell, backend-eslint

chore: update .node-version
  .node-version
Due: none

chore: release 0.0.4
  CHANGELOG.md
  package.json
Due: prettier, cspell
